<div class="row">
  <div class="col-sm-2">
    <!-- Grupo de materiales y jugadores -->
    <div class="btn-group-vertical">
      <!-- Balon -->
      <button type="button" class="btn btn-danger" (click)="addMaterial('balon')"><img
          src="/assets/materials/balon64.png"></button>
      <!-- Local -->
      <button type="button" class="btn btn-danger" (click)="addIconHome('fa-circle-half-stroke')"><i
          class="fa-solid fa-circle-half-stroke player"></i><br>
        <p class="tit-player">{{'SESIONES.EquipoLocal' | translate }}</p>
      </button>
      <!-- Visitante -->
      <button type="button" class="btn btn-danger" (click)="addIconAway('fa-circle-half-stroke')"><i
          class="fa-solid fa-circle-half-stroke player"></i><br>
        <p class="tit-player">{{'SESIONES.EquipoVisitante' | translate }}</p>
      </button>
      <!-- Chino -->
      <button type="button" class="btn btn-danger" (click)="addMaterial('chino2')"><img
          src="/assets/materials/chino264.png"></button>
      <!-- Cono -->
      <button type="button" class="btn btn-danger" (click)="addMaterial('cono')"><img
          src="/assets/materials/cono64.png"></button>
      <!-- Pica -->
      <button type="button" class="btn btn-danger" (click)="addMaterial('pica')"><img
          src="/assets/materials/pica.png"></button>
      <!-- Aros -->
      <button type="button" class="btn btn-danger" (click)="addMaterial('aros')"><img
          src="/assets/materials/aros.png"></button>
      <!-- Escalera -->
      <button type="button" class="btn btn-danger" (click)="addMaterial('escalera')"><img
          src="/assets/materials/escalera.png"></button>
      <!-- Vallas -->
      <button type="button" class="btn btn-danger" (click)="addMaterial('vallas')"><img
          src="/assets/materials/vallas64.png"></button>
      <!-- Mini-porterias -->
      <button type="button" class="btn btn-danger" (click)="addMaterial('gol')"><img
          src="/assets/materials/gol.png"></button>
      <!-- Cambio terreno de juego -->
      <button type="button" class="btn btn-danger" (click)="changePitch()"><img
          src="/assets/materials/campo-de-futbol.png"></button>
    </div>
  </div>
  <div class="col-sm-10">
    <div class="div-pitch" id="divPDF">
      <div class="row materials">
        <!-- Contenedor materiales -->
        <div class="col-4">
          <p class="title">{{'SESIONES.Materiales' | translate }}</p>
          <span #material>
            <img *ngFor="let i of materials" src="/assets/materials/{{i}}.png" cdkDragBoundary=".div-pitch" cdkDrag>
          </span>
        </div>
        <!-- Contenedor jugadores locales -->
        <div class="col-4">
          <p class="title">{{'SESIONES.EquipoLocal' | translate }}</p>
          <i *ngFor="let i of iconsHome" class="fa-solid {{i}} icon-pitch" cdkDrag cdkDragBoundary=".div-pitch"
            [ngStyle]="{'color':this.colorHome}"></i>
        </div>
        <!-- Contenedor jugadores visitantes -->
        <div class="col-4">
          <p class="title">{{'SESIONES.EquipoVisitante' | translate }}</p>
          <i *ngFor="let i of iconsAway" class="fa-solid {{i}} icon-pitch" cdkDrag cdkDragBoundary=".div-pitch"
            [ngStyle]="{'color':this.colorAway}"></i>
        </div>
      </div>
      <!-- Canvas para dibujar y realizar la tarea -->
      <canvas id="canvasId" #canvasRef class="pitch" [width]="1350" [height]="759"></canvas>
    </div>
  </div>
  <div class="row buttons">
    <div class="col-2"></div>
    <div class="col-3 buttons-delete">
      <!-- Botón borrar trazos -->
      <button (click)="clearZone()" type="button" class="btn btn-danger">{{'SESIONES.BorrarTrazos' |
        translate}}</button>
      <!-- Botón borrar todo -->
      <a type="button" class="btn btn-danger" (click)="clearAll()">
        {{'SESIONES.BorrarTodo' | translate}}
      </a>
    </div>
    <div class="col-2 colors">
      <!-- Botón cambio color trazo -->
      <span class="tit-scribble">{{'SESIONES.ColorTrazo' | translate }}</span>
      <p-colorPicker [(ngModel)]="color"></p-colorPicker>
    </div>
    <div class="col-2 colors">
      <!-- Botón cambio color local -->
      <span class="tit-scribble">{{'SESIONES.ColorLocal' | translate }}</span>
      <p-colorPicker [(ngModel)]="colorHome"></p-colorPicker>
    </div>
    <div class="col-2 colors">
      <!-- Botón cambio color visitante -->
      <span class="tit-scribble">{{'SESIONES.ColorVisitante' | translate }}</span>
      <p-colorPicker [(ngModel)]="colorAway"></p-colorPicker>
    </div>
  </div>
</div>