.col-sm-2{
    display: flex;
    place-content: center;
}
.div-pitch{
    width: min-content;
    .icon-pitch{
        font-size: 40px;
    }
    .materials{
        height: 88px;
        .title{
            color: white;
            margin: 0;
        }
    }
}
.pitch{
    background-image: url('/assets/images/pitch.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}
.btn-group-vertical{
    .tit-player{
        margin: 0;
        font-size: 12px;
        color: black;
    }
    .player{
        font-size: 48px;
        color: black;
    }
    .btn-danger{
        background-color: red;
        border: 1px solid red;
        &:hover{
            background-color: rgba(255,0,0,0.8);
        }
    }
}
.tit-scribble{
    font-weight: bold;
    font-size: 20px;
    padding-right: 20px ;
}
.buttons{
    margin-bottom: 10px;
    margin-top: 10px;
    .buttons-delete{
        display: flex;
        justify-content: space-between;
    }
    .colors{
        display: flex;
        place-content: center;
        align-items: center;
    }
}