<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <!-- Contenedor del navbar -->
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Logo para volver al Home -->
            <a class="navbar-brand" href="">
                <img src="../assets/images/logo/UtW.png" alt="UnderDogToWin" loading="lazy" />
            </a>
            <!-- Links del routing a otras páginas -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/sessions">{{'NAVBAR.Sesiones' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tutorials">{{'NAVBAR.Tutoriales' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">{{'NAVBAR.Contacto' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutMe">{{'NAVBAR.AcercaDe' | translate }}</a>
                </li>
            </ul>
            <!-- Cambio de idioma -->
            <select class="language" (change)="selectLanguage($event)">
                <option value="es">Español</option>
                <option value="en">English</option>
                <option value="jp">日本</option>
                <option value="it">Italiano</option>
            </select>
        </div>
    </div>
</nav>
<!-- Routing de la aplicación -->
<router-outlet></router-outlet>