.container-fluid {
    // Fondo del contenedor principal
    background-image: url('/assets/images/stadiums/anfield3.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    justify-content: center;

    .text-error {
        padding: 50px 0px;
        color: white;
        font-size: 3rem;
        text-align: center;
        text-shadow: 0 0 0.2em black, 0 0 0.2em #FF4C4C;
    }

    .image-error {
        display: block;
        margin: auto;
        width: 20%;
    }
}