<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">

    <!-- Section: Text -->
    <section class="mb-4">
      <p>{{'FOOTER.Informacion' | translate}}</p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/UnderdogToWin" role="button"><i
          class="fab fa-twitter"></i></a>

      <!-- YouTube -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/channel/UC5LDs6oWLs2zZJAtEfRejAA" role="button"><i class="fab fa-youtube"></i></a>
      <!--Email-->
      <a class="btn btn-outline-light btn-floating m-1" href="mailto:underdogtowin@gmail.com" role="button"><i class="fab fa-at"></i></a>
    </section>
    <!-- Section: Social media -->

  </div>
  <!-- Grid container -->

  <div class="text-center p-3 row" style="background-color: rgba(0, 0, 0, 0.2);">
    <div class="col-2"></div>
    <div class="col-4">
      <a class="text-white" href="/privacyPolicity">{{'FOOTER.Politica' | translate}}</a>
    </div>
    <div class="col-4">
      <a class="text-white" href="/legalNotices">{{'FOOTER.Avisos' | translate}}</a>
    </div>
  </div>
</footer>