.container-fluid{
    padding: 0;
    margin: 0;
    .image-legacy{
        margin: 0;
        width: 100%;
        background-image: url('/assets/hooligans/hooligans_liverpool.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.6;
        .title-legacy{
            color: white;
            text-align: center;
            font-size: 60px;
            text-shadow: 0 0 0.2em black, 0 0 0.2em #FF4C4C;
        }
    }
    .row{
        padding: 70px 0px;
        .info-legal{
            text-align: justify;
        }
    }
}