.container-fluid {

  .image-sessions {
    background-image: url('/assets/hooligans/hooligans_liverpool_2.png');

    .navbar-icons {
      display: flex;
      place-content: center;
    }
  }

  .form-session {
    padding: 50px 0px;

    .form-group {
      padding: 15px 0px;

      label {
        padding-bottom: 10px;
      }

      .form-control {
        border-radius: 2rem;

        &:focus {
          border-color: #FF8080;
          box-shadow: 0 0 0 0.25rem rgb(255 76 76 / 25%);
        }
      }
    }
    .button-form{
      padding: 20px 0px;
      .button-image-pdf{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
    }
  }
  .button-image{
    display: grid;
    place-content: center;
    padding-bottom: 40px;
  }
}