.container-fluid{
    padding: 0;
    margin: 0;
    .image-tutorial{
        margin: 0;
        width: 100%;
        background-image: url('/assets/hooligans/hooligans_benfica.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.6;
        padding: 60px 0px;
        .title-tutorial{
            color: white;
            text-align: center;
            font-size: 60px;
            text-shadow: 0 0 0.2em black, 0 0 0.2em #FF4C4C;
        }
        .info-tutorial{
            color: white;
            text-align: center;
            font-size: 25px;
            text-shadow: 0 0 0.2em black, 0 0 0.2em #FF4C4C;
        }
    }
    .body-cards{
        padding: 0;
        margin-top: 100px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
       .card-body{
           display: grid;
           place-content: center;
           .arrow{
               align-items: center;
           }
       }
    }
}