<div class="container-fluid">
    <div class="row image-tutorial">
        <div class="col">
            <h1 class="title-tutorial">{{'TUTORIALES.Tutoriales' | translate}}</h1>
            <p class="info-tutorial">{{'TUTORIALES.InformacionTutorial' | translate }}</p>
        </div>
    </div>
    <div class="row body-cards">
        <div class="col-3">
            <div class="card">
                <iframe class="card-img-top" width="560" height="315" src="https://www.youtube.com/embed/cxIWIY-D8jE"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title">{{'TUTORIALES.CrearMaterial' | translate}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{'TUTORIALES.CrearMaterialDescripcion' | translate}}</li>
                </ul>
                <div class="card-body">
                    <a href="https://www.youtube.com/watch?v=cxIWIY-D8jE" target="_blank">
                        <button class="btn btn-danger visit-youtube">{{'TUTORIALES.VerYoutube' | translate}} <img
                                class="arrow" src="../../assets/icons/export-document.png"></button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <div class="card">
                <iframe class="card-img-top" width="560" height="315" src="https://www.youtube.com/embed/ut3nd8v6Rjs"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title">{{'TUTORIALES.CrearJugadores' | translate}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{'TUTORIALES.CrearJugadoresDescripcion' | translate}}</li>
                </ul>
                <div class="card-body">
                    <a href="https://www.youtube.com/watch?v=ut3nd8v6Rjs" target="_blank">
                        <button class="btn btn-danger visit-youtube">{{'TUTORIALES.VerYoutube' | translate}} <img
                                class="arrow" src="../../assets/icons/export-document.png"></button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <div class="card">
                <iframe class="card-img-top" width="560" height="315" src="https://www.youtube.com/embed/QjrGgrrkhFk"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title">{{'TUTORIALES.CrearTrazo' | translate}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{'TUTORIALES.CrearTrazoDescripcion' | translate}}</li>
                </ul>
                <div class="card-body">
                    <a href="https://www.youtube.com/watch?v=QjrGgrrkhFk" target="_blank">
                        <button class="btn btn-danger visit-youtube">{{'TUTORIALES.VerYoutube' | translate}} <img
                                class="arrow" src="../../assets/icons/export-document.png"></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row body-cards">
        <div class="col-3">
            <div class="card">
                <iframe class="card-img-top" width="560" height="315" src="https://www.youtube.com/embed/_TQSK2WzDB8"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title">{{'TUTORIALES.Borrar' | translate}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{'TUTORIALES.BorrarDescripcion' | translate}}</li>
                </ul>
                <div class="card-body">
                    <a href="https://www.youtube.com/watch?v=_TQSK2WzDB8" target="_blank">
                        <button class="btn btn-danger visit-youtube">{{'TUTORIALES.VerYoutube' | translate}} <img
                                class="arrow" src="../../assets/icons/export-document.png"></button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <div class="card">
                <iframe class="card-img-top" width="560" height="315" src="https://www.youtube.com/embed/zBWjFNWGBmg"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title">{{'TUTORIALES.DescargarActualizarImagen' | translate}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{'TUTORIALES.DescargarActualizarImagenDescripcion' | translate}}</li>
                </ul>
                <div class="card-body">
                    <a href="https://www.youtube.com/watch?v=zBWjFNWGBmg" target="_blank">
                        <button class="btn btn-danger visit-youtube">{{'TUTORIALES.VerYoutube' | translate}} <img
                                class="arrow" src="../../assets/icons/export-document.png"></button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <div class="card">
                <iframe class="card-img-top" width="560" height="315" src="https://www.youtube.com/embed/Tt_Uo_P4x5Q"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title">{{'TUTORIALES.GenerarPDF' | translate}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{'TUTORIALES.GenerarPDFDescripcion' | translate}}</li>
                </ul>
                <div class="card-body">
                    <a href="https://www.youtube.com/watch?v=Tt_Uo_P4x5Q" target="_blank">
                        <button class="btn btn-danger visit-youtube">{{'TUTORIALES.VerYoutube' | translate}} <img
                                class="arrow" src="../../assets/icons/export-document.png"></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-Footer></app-Footer>